/*=== Mobile =================================*/
#services header h2 {
  margin-bottom: 6rem;
}

#services .content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/*=== Responsivo =================================*/

@media (min-width: 1024px) {
  
#services h2 {
  width: 50rem;
  margin-inline: auto;
}

#services .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}}